<!DOCTYPE html>
<html>
<head>
    <title>Waste Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Waste Data Visualization in all Provinces in Indonesia from 2018-2023</h1>
        <h5 class="mt-5"><i>Choose type of graph to be visualized</i></h5>
        <ul class="list-group mt-4">
            <li class="list-group-item"><a href="/total-annual-waste">Total Amount of Annual Waste in Each Province for Each Year</a></li>
            <li class="list-group-item"><a href="/average-annual-waste">Average Total Annual Waste in Each Province for All Years</a></li>
            <li class="list-group-item"><a href="/waste-categorization">Annual Waste Categorization for Each Year</a></li>
        </ul>
    </div>
</body>
</html>